.u-bottom{
	&-0 { bottom: 0 !important; }
}

@for $i from 5 through 50 {
	@if($i%5 == 0){ 
	 .u-bottom-#{$i}{
	 	bottom: px-to-rem($i) !important;
	 }
	}
}

@for $i from 5 through 50 {
	@if($i%5 == 0){ 
	 .u-bottom-minus-#{$i}{
	 	bottom: - px-to-rem($i) !important;
	 }
	}
}

.u-bottom-25p{
	bottom: 25% !important;
}

.u-bottom-50p{
	bottom: 50% !important;
}

.u-bottom-75p{
	bottom: 75% !important;
}

.u-bottom-100p{
	bottom: 100% !important;
}