.u-trs{
	&{
	 transition-duration:.3s;
	}
	&-0_4{
	 transition-duration:.4s;
	}
	&-0_5{
	 transition-duration:.5s;
	}
	&-0_6{
	 transition-duration:.6s;
	}
	&-0_6{
	 transition-duration:.7s;
	}
}